[Unit]
Description=AWX daphne service
PartOf=awx.service
After=awx.service

[Service]
User=awx
Group=awx
EnvironmentFile=-/etc/sysconfig/awx
Environment=AWX_SETTINGS_FILE=/etc/tower/settings.py
Environment=PATH=/opt/awx/bin:/bin:/sbin:/usr/bin:/usr/sbin
ExecStart=/usr/bin/scl enable rh-python36 rh-postgresql10 "daphne -b 127.0.0.1 -p 8051 awx.asgi:channel_layer"
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=awx.service
