[Unit]
Description=AWX cbreceiver service
After=syslog.target network.target

[Service]
User=awx
Group=awx
EnvironmentFile=-/etc/sysconfig/awx
Environment=AWX_SETTINGS_FILE=/etc/tower/settings.py
Environment=PATH=/opt/awx/bin:/bin:/sbin:/usr/bin:/usr/sbin
ExecStart=/usr/bin/scl enable rh-python36 rh-postgresql10 "awx-manage run_callback_receiver"
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
