[Unit]
Description=AWX Celery beat service
After=syslog.target network.target

[Service]
EnvironmentFile=-/etc/sysconfig/awx
Environment=PYTHONPATH=/opt/awx/embedded/lib/python2.7/site-packages:/opt/awx/embedded/lib64/python2.7/site-packages
Environment=AWX_SETTINGS_FILE=/etc/awx/settings.py
Environment=PATH=/opt/awx/bin:/bin:/sbin:/usr/bin:/usr/sbin
ExecStart=/opt/awx/bin/awx-manage celery beat -l info --pidfile= -s /var/opt/awx/beat.db
KillMode=process
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
